* {
  margin: 0;
  padding: 0;
}

.amountcontainer {
  margin-left: 10vw;
  margin-right: 10vw;
  border-radius: 4px;
}

#demovd {
  margin-left: 15vw;
  margin-right: 15vw;
  height: 72vh;
  width: 70vw;
}

.event-page-link {
  background-color: #094b86;
  border-color: #8c8c8c;
}

.card-img-top {
  height: auto;
  width: auto;
}

.card-text,
.card-title {
  color: #094b86;
  font-family: "Merriweather", serif;
}

.lastrow {
  margin-left: 40vh !important;
  margin-right: 40vh !important;
}

.oct-dates {
  /* background-color: rgb(164, 33, 33); */
  background-image: url("../images/white3.jpg");
  box-shadow: rgba(16, 6, 102, 0.35) 0px 17px 17px;
  z-index: 3;
}

.box .inner {
  width: 90vw;
  height: 35vh;
  line-height: 35vh;
  font-size: 3.5em;
  font-family: sans-serif;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
}

.accordion-body {
  background-color: #0d1e40;
}

.ticket {
  width: 33%;
  height: 50vh;

  margin: 3% 3%;
  /* border:5% solid black; */
  background-image: url("../images/blue.jpeg");

  background-repeat: no-repeat;
  opacity: 100%;
  background-size: cover;
  border-radius: 10px;
}


#customers {
  font-family: Garamond;
  border-collapse: collapse;
  width: 100%;
}

#customers td {
  /* background-color:whitesmoke; */
  background-image: url("images/white.jpg");
  border-bottom: 6px solid white;

}

#customers td,
#customers th {

  padding: 8px;
  text-align: center;
}

.event-name {
  color: #055fad
}

#customers tr:hover {
  background-color: #ddd;

}

#customers th {
  padding-top: 6px;
  padding-bottom: 6px;
  /* background-color: #055fad; */
  background-image: url("images/blue4.jpg");
  color: white;
}

#customers td {
  /* background-color:whitesmoke; */
  background-image: url("images/white.jpg");
  border-bottom: 6px solid white;

}

#ss_demo,
#popup_demo {
  height: auto;
  max-width: 35%;
}

@media screen and (max-width: 760px) {
  #demovd {
    width: 80vw !important;
    height: 30vh !important;
  }

  .accordion-body .card {
    width: 100%;
  }

  #ss_demo,
  #popup_demo {
    height: auto;
    max-width: 80%;
  }

  .amountcontainer {
    margin-left: 5vw;
    margin-right: 5vw;
  }

  .eventtickets {
    flex-direction: column;
    justify-content: space-around;
  }

  /* new added css */
  .ticket {
    height: 70vh;
    width: 100%;
  }

  .shop-item-button {
    margin-top: 5px !important;
    margin-bottom: 20px;
  }

  .box .inner {
    height: 28vh;
    line-height: 28vh;
    font-size: 2em;
  }

  .cart {
    margin-left: 5vw !important;
    margin-right: 5vw !important;
  }
}

@media screen and (min-width: 680px) {
  .card img {
    width: 30%;
  }

  .card-body {
    width: 70%;
  }

  #demo_imgs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 10px;
  }

  .card {
    flex-direction: row;
    width: 100%;
  }
}

.modal {
  font-family: "Merriweather", serif !important;
  font-weight: lighter !important;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a,
h1,
p,
h3,
h4 {
  color: azure;
}

h5 {
  color: rgb(31, 8, 98);
}

.nav-tabs .nav-link {
  border: 3px solid #055fad;
  border-radius: 0.25rem;
  margin: 0.5rem;
  color: #10416d;
  font-weight: 750;
}

.accordion-button.collapsed {
  border-bottom-width: 0;
  width: 100%;

  border: 3px solid whitesmoke;
  padding: 12px;
  /* background-color:#055fad; */
  background-image: url("../images/blue3.jpg");
  color: #c0392b;
  border-radius: 4px;
}

.event-name {
  font-family: "Merriweather", serif !important;
}

.dates .nav-tabs .nav-link:hover {
  animation-name: example;
  animation-duration: 1s;
  animation-iteration-count: 2;
}

@keyframes example {
  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }
}

.accordion-button:not(.collapsed) {
  padding: 12px;
  width: 100%;
  color: whitesmoke;
  background-image: url("../images/blue3.jpg");
  border-radius: 4px;
}

.rolling {
  color: #053056;
  font-weight: 900;
}

.card1 {
  /* width: 320px; */
  width: 19rem;
  border-radius: 10px;
  margin: 15px;
  background: rgb(200, 236, 245);
  background: rgb(240, 243, 244);
  overflow: hidden;
  box-shadow: rgba(13, 3, 104, 0.35) 0px 15px 15px;
}

.card1-header {
  width: 100%;
  height: 100px;
  border: 2px solid rgb(20, 4, 55);
  border-bottom: 2px dotted rgb(20, 4, 55);
  border-radius: 10px 10px 0 0;
  position: relative;
}

.card1-header:before,
.card1-header:after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  background: #fff;
  border-radius: 100%;
  bottom: -12px;
  border: 2px solid rgb(20, 4, 55);
  box-sizing: border-box;
}

.card1-header:before {
  left: -13px;
}

.card1-header:after {
  right: -13px;
}

.card1-body {
  height: 250px;
  border: 2px solid rgb(20, 4, 55);
  border-top: none;
  border-radius: 0 0 10px 10px;
}

.cost {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.datetime {
  justify-content: space-around;
}

.event-name {
  color: #055fad;
}

#price_footer {
  font-family: "Garamond", serif !important;
  border-collapse: collapse;
  width: 100%;
}

#price_footer th {
  /* background-color: #055fad; */
  color: white;
  text-align: center;
  padding-right: 8vw;
}

#customers {
  font-family: "Garamond", serif !important;
  border-collapse: collapse;
  width: 100%;
  background-image: url("../images/blue3.jpg");
}

#customers td {
  /* background-color:whitesmoke; */
  border-bottom: 6px solid white;
  background-color: white;
}

#customers td:hover {
  /* background-color:whitesmoke; */
  border-bottom: 6px solid white;
  background-color: rgb(228, 228, 228);
}

#customers td,
#customers th {
  padding: 8px;
  text-align: center;
}

#customers tr:hover {
  background-image: url("../images/blue2.jpg");
}

#customers th {
  padding-top: 6px;
  padding-bottom: 6px;
  /* background-color: #055fad; */
  color: white;
}

.cardheader {
  background-color: white;
}

.cardfooter {
  /* background-color: #055fad; */
  background-image: url("../images/blue3.jpg");
  /* background-repeat: no-repeat;
  background-size: cover; */
}

.delete-btn {
  float: right;
  margin-right: 3px;
  border: 0;
  color: #1b134b;
  padding: 0;
}

.accordion-button:focus {
  z-index: 3;
  border-color: #1b134b;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgb(7 34 73 / 25%);
}

.btn-purchase {
  align-items: center;
  background-color: whitesmoke;
  color: #055fad;
}

.shop-item-button {
  align-items: center;
  background-color: whitesmoke;
  color: #055fad;
  border-radius: 4px;
  font-weight: 600;
}

.centered {
  text-align: center;
}

.qr {
  width: 8rem;
  height: 8rem;
  display: block;
  margin: auto;
}

.googleform {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.googleform:hover {
  color: white;
}

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #222222;
  font-family: "Open Sans", sans-serif;
  padding-bottom: 50px;
}

.mainnav {
  background-color: #222222;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: all 0.3s ease-in-out;
}

.mainnav .amountcontainer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.mainnav ul {
  align-items: center;
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.mainnav a {
  color: #ffffff;
  padding: 7px 15px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.mainnav.active {
  background-color: #ffffff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.mainnav.active a {
  color: #000000;
}

.mainnav.active .amountcontainer {
  padding: 10px 0;
}

.mainnav a.current,
.mainnav a:hover {
  color: #c0392b;
  font-weight: bold;
}

.hero {
  align-items: center;
  background-image: url("https://../images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  z-index: -2;
}

.hero::before {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.hero h1 {
  font-size: 46px;
  margin: -20px 0 20px;
}

.hero p {
  font-size: 20px;
  letter-spacing: 1px;
}

.content h2,
.content h3 {
  font-size: 150%;
  margin: 20px 0;
}

.content p {
  color: #555555;
  letter-spacing: 1.2px;
  line-height: 30px;
}

.makepayment {
  display: flex;
  align-items: center;
  justify-content: center;
}

body p, h1 {
    color: #000000;
  }

/* new ticket container */
.eventtickets {
  background-color: transparent;
  max-width: 100vw;
  align-content: center;
  opacity: 100%;
}

.colorincard {
  color: white;
}

.tktbtn {
  color: #055fad;
}

/* text 3d */
.eventname {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 1000;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

/* editing */

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box .inner:first-child {
  background-color: #094b86;
  color: rgb(250, 250, 253);
  transform-origin: right;
  transform: perspective(200px) rotateY(-15deg);
}

.box .inner:last-child {
  background-color: #055fad;
  color: whitesmoke;
  transform-origin: left;
  transform: perspective(200px) rotateY(15deg);
}

.box .inner span {
  position: absolute;
  animation: marquee 5s linear infinite;
}

.box .inner:first-child span {
  animation-delay: 2.5s;
  left: -100%;
}

@keyframes marquee {
  from {
    left: 100%;
  }

  to {
    left: -100%;
  }
}

.nav-tabs .nav-link.active {
  color: white;
  background-color: #055fad;
  border-color: white;
}

.nav-tabs .nav-link:hover {
  border-color: #055fad;
}

/* modal */
.modalheader,
.modalfooter {
  background-color: #055fad;
  color: #ffffff;
}

.section_header {
  font-family: "Merriweather", serif;
  font-weight: bolder;
  color: #055fad;
  text-align: center;
}

.calender_header {
  padding-top: 10vh;
  align-content: center;
}