@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Cookie&family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Cookie&family=Mate+SC&family=Montserrat:wght@500&display=swap');

::selection {
    background-color: #000;
    color: #fff;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*.ieee-navbar{
    font-size: 13px;
    background: #0874a4;
    height: 35px;
}

.ieee-navbar a{
    padding: 0 20px;
    margin: 0 10px;
    color: #fff;
}
*/

.sticky-top{
    top: 0;
}

.sb-navbar{
    
    position: fixed;
    background: transparent;
    margin-bottom: -10px;
    font-weight: 400;
}

.sb-navbar .fa-bars{
    color: #fff;
}

.sb-navbar.scrolled .fa-bars{
    color: #000;
}

.sb-navbar .dropdown-menu{
    border: 0;
    background: transparent;
}

.sb-navbar .dropdown a{
    text-align: center;
}

.sb-navbar .nav-item a{
    color: #fff;
}

.sb-navbar.scrolled {  
    /*background-color: #fbc108;*/
    background-color: #fff;
    transition: background-color 200ms linear;
}

.sb-navbar.scrolled a{
    color: #000;
}

.sb-navbar.scrolled .dropdown-menu{
    background-color: #fff;
}

.sb-navbar .navbar-brand img{
    /*height: 50px;
    width: 100%;*/
    height: 4rem;
    width: 9rem;
    margin-left: 5vw;
}
/*ieee day model */

.modal-title{
    font-family: 'Montserrat', sans-serif!important;
    text-align: center;
    left: 25%;
    font-size: 1.4rem;
    /* margin-left: 25%; */
    color: rgb(0, 0, 0);
    font-family: 'Merriweather', serif;

}
.ieeeday-text{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    /* font-family: 'PT Serif', serif; */
}
.modal-body{
    padding-top: 0%!important;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
.modal-content{
    /* background-color: #031522 !important; */
    background-color: rgb(220, 227, 231)

}
.modal-header{
    border-bottom: 1px solid #000000!important;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.close{
    color: rgb(0, 0, 0);
}

img.ieee-day{
    width:80%;
}
a.ieee-day {
    font-family: 'Mate SC', serif;
    /* font-family: 'Yrsa', serif; */
    display: inline-block;
    position: relative;
    color: #094c70;
    font-size: 1.4rem;
    padding-top: 0.8rem;
  }
  
  a.ieee-day:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #094c70;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  a.ieee-day:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }





/*ieee-day*/
.icon-bar {
    position: fixed !important;
    bottom:3%;
    right:3%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 150px;
    z-index:999;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px;
    border-radius: 4%;
    }

    .blink{
    width:120px;
    height: 50px;
    background-color: #193f7d;
    text-align: center;
    line-height: 50px;
    display: none;
}
.blink a,h6{
    font-size: 20px;
    font-family: cursive;
    color: white;
    animation: blink 2s linear infinite;
}

.blink h6{
    padding: 0% !important;
    font-size: 1.2rem;
}

@keyframes blink{
0%{opacity: 0;}
50%{opacity: .5;}
100%{opacity: 1;}
}




@media (max-width: 1080px){
    .sb-navbar .navbar-brand img{
        height: 3rem;
        width: 6.75rem;
    }
}

.sb-navbar .navbar-nav{
    margin-right: 25px;
    position: relative;
}

.sb-navbar .navbar-nav li{
    padding: 5px 20px;
    /*padding-left: 20px;*/
}

.sb-navbar ul{
    padding-right: 25px;
    list-style: none;
}

.sb-navbar ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}

.sb-navbar ul li a{
    display: block;
    padding: 8px 25px;
    text-decoration: none;
}

.sb-navbar ul li:hover{
    color: #fff;
    background: #193f7d;
}

.sb-navbar.scrolled ul li:hover a{
    color: #fff;
    /*background: #193f7d;*/
}

.sb-navbar.scrolled ul li:hover .dropdown-menu a{
    color: #000;
    /*background: #193f7d;*/
}

.sb-navbar ul li .dropdown{
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    /*z-index: 999;*/
    left: 0;
}

.sb-navbar ul li .dropdown-menu a:hover{
    background: #426296;   
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #055fad;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.home-carousel{
    margin-top: 0;
    position: relative;
    width: 100%;
    background: black;
}

.home-carousel .carousel-item{
    background-size: cover;
    background-position: center;
}

.home-carousel .carousel-inner {
    width: 100%; 
    overflow: hidden;
    }

.home-carousel-image img{
    width: 100vh;
    height: 100vh;
    opacity: 0.7;
    object-fit: cover;
    background-image: #000 opacity 0.2;
}

.home-carousel .carousel-caption{
    top: 45%;
}

.home-carousel .ieee-sb-gvpce-carousel .carousel-caption img{
    width: 50%;
    max-height: 70%;
    background-image: #000 opacity 0.2;
}

/*announcements*/

.announcements-content{
    padding: 40px;
    /*position: relative;*/
}

/*updates*/

.updates{
    padding: 60px 0;
    position: relative;
    /*margin: 20px 0;*/
}

.updates-heading{
    color: #055fad;
    padding-bottom: 30px;
}

.updates-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.updates .carousel-item{
    min-height: 100px;
}

.updates .carousel-content {
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
}

/*.updates*/
.fa-quote-left{
    padding-right: 10px;
    /*margin-bottom: 15px;*/
}

.carosuel-content p {
  margin: 5px;
  padding: 5px;
  width: 90%;
}

.updates .carousel-indicators{
    bottom: -40px;
}

.updates .carousel-indicators li {
    background-color: #000;
}

.updates .carousel-indicators .active {
    background-color: #055fad;
}

.updates .carousel-control-icon{
    color: #000;
    padding: 5px;
}

.about-ieee{
    /*color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%); */
    margin-top: 30px;
    padding-bottom: 20px;
}

.about-ieee-heading{
    padding: 30px;
    font-weight: 400;
    color: #055fad;
}

.about-ieee-info h2{
    padding: 20px 0;
    color: #000;
}

.about-ieee-info .sub-section{
    padding: 40px 0;
}

.about-ieee-info .ieee-india{
    padding: 40px 0;
}

.about-ieee-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.about-ieee-info .underline{
    background-color: #055fad;
    border: 1px solid #055fad;
    margin-top: -18px;
}

.about-ieee-info p{
    padding-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.about-ieee-info .btn{
    color: #fff;
    background-color: #055fad;
    font-family: 'Oswald';
}

.about-ieee-info .btn:hover{
    color: #055fad;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    margin-bottom: -2px;
}

.ieee-sb-gvpce{
    padding: 50px 0;
    background-image: linear-gradient(rgba(26,88,203,0.5), rgba(7,198,237,0.5)),linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),url("../images/cover-gvp.png");
    -webkit-background-size:cover;
    background-size: cover;
    text-align: center;
    position: relative;
    background-attachment: fixed;
}

.ieee-sb-gvpce-heading{
    padding: 30px;
}

.ieee-sb-gvpce-heading .sb-name{
    color: #fff;
    border-bottom: 2px solid #055fad;
    font-weight: 600;

}

.ieee-sb-gvpce-info{
    padding: 40px 0;
    color: white;
    font-weight: 400;
}

.ieee-sb-gvpce-info p{
    text-align: justify;
    text-justify: inter-word;
}

.ieee-sb-gvpce-info img{
    width: 100%;
    height: auto;
    position: relative;
}

/*.home-gallery img{
    width: 100%;
    height: 235px;
    object-fit: cover;
    padding: 0;
    margin: 0;
}*/

/* events */

@media only screen and (min-width: 600px) {
      .owl-prev, .owl-next {
        width: 2rem;
        height: 6rem;
        padding: 10px;
        margin:10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block !important;
        border: solid;
      }
      .owl-prev:visited{
          border: none !important;
      }
      .owl-prev { left: -50px; }
      .owl-next { right: -50px; }
      .owl-prev i, .owl-next i {transform : scale(2,5); color: black;}
      }
      
      @media only screen and (max-width: 600px) {
        .owl-prev, .owl-next {
          width: 2rem;
          height: 6rem;
          padding: 10px;
          margin:10px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: block !important;
          border: solid;
        }
        .owl-prev:visited{
            border: none !important;
        }
        .owl-prev { left: -10px; }
        .owl-next { right: -10px; }
        .owl-prev i, .owl-next i {transform : scale(2,5); color: black;}
      
      }

/* #events {

    background: url("https://jaxa.netlify.com/home-1/img/bg/feature-bg.png") top center no-repeat;
    background-size: cover;
    padding: 0 0;
    margin: 100px auto;
  }

  #events h1{
    margin: 30px auto;
  }
  
  .feature_header {
    margin-bottom: 88%;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: inherit;
    font-size: 2rem;
  }
  #events{
      text-align: center;
  } */
  .feature_item {
    background: #ffffff;
    box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 60px 30px;
    height: 71vh;
    transition: all .4s ease-in-out;
    margin: 20px auto;
  }
  
  .feature_item:hover{
    transform: translateY(-30px);
    box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.09);
  }
  
  
  .feature_title {
    font-size: 20px;
    color: #3b566e;
    font-weight: 600;
    margin: 15px 0 15px;
    padding: 0;
  }
  
  .feature_text {
    font-size: 15px;
    font-weight: 400;
    color: #919aaf;
    line-height: 26px;
    margin: 0;
    padding: 0;
  }
  .btn{
      margin-top:10px;
  }

.events{
    padding: 50px 0;
    /*background-image: url(../images/sb_gvpce_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
}

.events-heading{
    padding: 30px;
    color: #055fad;
}

.events-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.events-info{
    padding: 40px 0;
    margin: 0 40px;
}

.events-info .card{
    border: none;
    background-color: #d3e4ed;
    color: #000;
}

.events-info .card-body{
    font-family: 'Poppins';
    font-weight: 250;
}

.events-info .card-body a{
    color: inherit;
    text-decoration: none;
}

.events-info .card-img-top{
    /*width: 100%;*/
    /*height: 60vh;*/
    /*max-height: 500px;*/
    /*object-position: relative;*/
    object-fit: cover;
    overflow: hidden;
}

/*.events-info .card .btn:hover{
    color: #000;
}*/

/*.events-info .scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;

  .card {
    flex: 0 0 auto;
  }
}

.events-info .scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .card {
    display: inline-block;
  }
}

.events-info .scrolling-wrapper-flexbox {
  -webkit-overflow-scrolling: touch;
}

.events-info .scrolling-wrapper-flexbox::-webkit-scrollbar {
    display: none;
  }*/

.status-count{
    padding: 60px 0;
    background-color: #055fad;
    color: #fff;
}

.status-count h1{
    font-weight: 600;
}

.status-count p{
    font-weight: 300;
}

.status-count .icon i{
    color: #fff;
    margin: 40px 0;
}

.team{
    margin: 40px 0;
}

.team-heading{
    padding: 30px;
    color: #055fad;
}

.team-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.team-heading a{
    color: #000;
}

.team-info{
    padding: 40px 0;
    margin: 0 20px;
}

.team-info .card-img-top{
    width: 250px;
    height: 250px;
}

.team-info .card img{
    width: 100%;
    height: 250px;
    /*width: 250px;
    height: 250px;*/
    object-position: relative;
    object-fit: cover;
    overflow: hidden;
    background-position: center top;
}

.single-team{
    background-color: #055fad;
    margin-bottom: 10px;
}

.single-team:hover .social{
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1,1);
}

.img-area{
    /*height: 300px;
    width: 300px;*/
    overflow: hidden;
    position: relative;
}

.img-area img{
    width: 100%;
    height: 250px;
    /*max-width: 300px;
    height: 60%;
    max-height: 300px;*/
    /*width: 300px;
    height: 300px;*/
    object-fit: cover;
    vertical-align: top;
}

.single-team:hover img{
    transform: scale(1.2);
}

.img-area img{
    transition: all 0.4s ease 0s;
}

@media (max-width: 768px){
    .img-area img{
        display: inline-block;
    }
}

.img-area .social{
    background-color: rgba(0,66,99,0.4);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateY(90deg) scale(0.5,0.5);
}

.img-area .social ul{
    text-align: center;
    position: relative;
    top: 50%;
    /*left: 46%;*/
}

.img-area .social ul li{
    margin: 3px;
    display: inline-block;
}

.img-area .social ul li a{
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.img-area .social ul li a:hover{
    background-color: #fff;
    border: 1px solid transparent;
}

.img-area .social ul li a:hover i{
    color: #000;
}

.img-text{
    padding: 20px 10px;
    color: #fff;
    text-align: center;
}

.img-text h4{
    margin: 0 0 5px;
    font-size: 25px;
    font-family: bignoodletitling;
    /*letter-spacing: 2px;*/
}

.img-text h5{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    /*letter-spacing: 1px;*/
}

.testimonials{
    background : #646c73;
    padding: 60px 0;
    position: relative;
}

.testimonials-heading{
    color: #fff;
    padding-bottom: 50px;
}

.testimonials-heading .underline{
    background-color: #055fad;
    border: 2px solid #055fad;
    margin-top: -5px;
}

.testimonials .carousel-item{
    color: #fff;
}

.testimonial-image{
    padding: 20px;
}

.testimonial-image img{
    width: 100%;
    max-height: 40vh;
    border: 3px solid #fff;
    object-fit: cover;
}

.testimonials .single-testimonial{
    padding: 35px 15px;
}

.testimonials .single-testimonial h4{
    font-size: 35px;
}

.testimonials .carousel-indicators{
    bottom: -50px;
}

/*footer*/

.page-footer{
    background-color: #055fad;
    color: #ffffff;
}

.footer-heading{
    padding: 30px;
    color: #fff;
}

.footer-heading .underline{
    background-color: #fff;
    border: 2px solid #fff;
    margin-top: -5px;
}

.footer-info{
    padding: 40px 0;
    margin: 0 40px;
}

.footer-info .underline{
    background-color: #fff;
}

.footer-info .contact-mode{
    padding: 20px 0;
}

.page-footer a{
    color: #ffffff;
}

.social-media-handles a{
    padding: 10px;
}
