.container{
	display: grid;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: auto;
	background-color: #eee;
	grid-template-columns: 1fr;
	gap: 0 10px;

	.date-container{
		display: block;
		background-color: #2979ff;
		font-family: arial;
    margin: 10px;
		.event-dates{
      display: flex;
			flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 5px 0;
      padding: 10px;
      span{
        display: none;
      }
      a{
        text-decoration: none;
        color: #000;
        width: 60px;
        height: 60px;
        // box-shadow: 2px 2px 3px #cfd8dc;
        background-color: #cfd8dc;
        border-radius: 3px;
        margin: 0 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover{
          background-color: rgba($color:
          #03a9f4, $alpha: 0.4);
          color: #fff;
        }
      }
		}
	}
	.events-container{
    display: block;
		.timings{
      display: none;
		}
		#limits{
      width: 100%;
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}
}

.event{
	background-color: #0277BD;
  padding: 10px;
	text-align: center;
	margin: 5px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
	.eventHref{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  .modal{
    display: none;
    background-color: #eee;
    width: 100%;
    margin: 10px auto;
    .modal-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      a{
        text-decoration: none;
        color: #fff;
        background-color: #2979ff;
        padding: 5px;
        border-radius: 3px;
        width: 100px;
        margin: 5px;
      }
    }
  }
  &:hover{
    .modal{
      display: block;
    }
  }
}

@media screen and (max-width: 650px) {
  .container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 95vw;
    height: auto;
    margin: auto;
    padding: 10px 0;
    .date-container{
      background-color: #eee;
      overflow-x: scroll;
      .event-dates{
        span{
          display: none;
        }
        a{
          width: 60px;
          height: 60px;
        }
      }
    }
    .events-container{
      display: grid;
      grid-template-columns: 1fr;
      background-color: #eee;
      gap: 5px 10px;
      .timings{
        display: none;
      }
    }
  }
}