::selection {
    background-color: #000;
    color: #fff;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*.ieee-navbar{
    font-size: 13px;
    background: #0874a4;
    height: 35px;
}

.ieee-navbar a{
    padding: 0 20px;
    margin: 0 10px;
    color: #fff;
}
*/

.sticky-top{
    top: 0;
}

.sb-navbar{
    position: fixed;
    background: transparent;
    margin-bottom: -10px;
    font-weight: 400;
}

.sb-navbar .fa-bars{
    color: #fff;
}

.sb-navbar .dropdown-menu{
    border: 0;
    background: transparent;
}

.sb-navbar .dropdown a{
    text-align: center;
}

.sb-navbar .nav-item a{
    color: #fff;
}

.sb-navbar.scrolled {  
    background-color: #000;
    transition: background-color 200ms linear;
}

.sb-navbar.scrolled .dropdown-menu{
    background-color: #000;
}

.sb-navbar .navbar-brand img{
    height: 50px;
    width: 50px;
    margin-left: 5vw;
}

.sb-navbar .navbar-nav{
    margin-right: 25px;
    position: relative;
}

.sb-navbar .navbar-nav li{
    padding: 5px 20px;
    /*padding-left: 20px;*/
}

.sb-navbar ul{
    padding-right: 25px;
    list-style: none;
}

.sb-navbar ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}

.sb-navbar ul li a{
    display: block;
    padding: 8px 25px;
    text-decoration: none;
}

.sb-navbar ul li:hover{
    color: #fff;
    background: #193f7d;
}

.sb-navbar ul li .dropdown{
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    /*z-index: 999;*/
    left: 0;
}

.sb-navbar ul li .dropdown-menu a:hover{
    background: #426296;   
}

.home-carousel{
    margin-top: 0;
    position: relative;
    width: 100%;
    background: black;
}

.home-carousel .carousel-item{
    background-size: cover;
    background-position: center;
}

.home-carousel .carousel-inner {
    width: 100%; 
    overflow: hidden;
    }

.home-carousel-image img{
    /*height: 100vh;*/
    width: 100vw;
    height: 100vh;
    opacity: 0.5;
    object-fit: cover;
    background-image: #000 opacity 0.2;
}

.home-carousel .carousel-caption{
    top: 50%;
}

.about-ieee{
    /*color: #fff;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 48%, rgba(0,212,255,1) 100%); */
    margin-top: 30px;
    padding-bottom: 20px;
}

.about-ieee-heading{
    padding: 30px;
    font-weight: 400;
    color: #006699;
    /*text-decoration: underline #000;*/
}

.about-ieee-info h2{
    padding: 20px 0;
    color: #000;
}

.about-ieee-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.about-ieee-info .underline{
    background-color: #006699;
    border: 1px solid #006699;
    margin-top: -18px;
}

.about-ieee-info p{
    padding-bottom: 10px;
}

.about-ieee-info .sub-section{
    padding: 40px 0;
}

.about-ieee-info button{
    color: #fff;
    background-color: #006699;
    font-family: 'Oswald';
}

.about-ieee-info button:hover{
    color: #006699;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    margin-bottom: -2px;
}

.ieee-sb-gvpce{
    /*background: rgb(0,212,255);
    background: linear-gradient(180deg, rgba(0,212,255,1) 125%, rgba(102,229,255,1) 175%, rgba(255,255,255,1) 275%);*/

    /*background-image: url("images/gvp-admin.jpg");

    filter: blur(2px);
    -webkit-filter: blur(2px);

    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.ieee-sb-gvpce{
    padding: 50px 0;
    /*background: #006699;*/
    background-image: linear-gradient(rgba(26,88,203,0.5), rgba(7,198,237,0.5)),url("../images/cover-gvp.png");
    -webkit-background-size:cover;
    background-size: cover;
    text-align: center;
    /*height: 100vh;*/
    position: relative;


    /*filter: blur(2px);
    -webkit-filter: blur(2px);*/

    /*height: 100%;
    object-position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;*/

    /*background-image: url(../images/sb_gvpce_bg.jpg);
    object-fit: contain;
    background-repeat: no-repeat;*/
    /*background: linear-gradient(180deg, rgba(0,212,255,1) 125%, rgba(102,229,255,1) 175%, rgba(255,255,255,1) 275%) fixed;
    background-size: cover;*/
}

.ieee-sb-gvpce-heading{
    padding: 30px;
}

.ieee-sb-gvpce-heading .sb-name{
    color: #fff;
    border-bottom: 2px solid #006699;
    font-weight: 600;

}

.ieee-sb-gvpce-info{
    padding: 40px 0;
    color: #fff;
}

.ieee-sb-gvpce-info img{
    width: 100%;
    height: auto;
    position: relative;
}

.events{
    padding: 50px 0;
    /*background-image: url(../images/sb_gvpce_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;*/
}

.events-heading{
    padding: 30px;
    color: #006699;
}

.events-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.events-info{
    padding: 40px 0;
    margin: 0 40px;
}

.events-info .card{
    height: auto;
    max-height: 900px;
    background-color: #d3e4ed;
    color: #000;
    margin: 20px 10px;
}

.events-info .card:hover{
    box-shadow: 0 0 111px rgba(0,0,0,.7); 
}

.events-info .card img{
    width: 100%;
    height: auto;
    max-height: 500px;
    object-position: relative;
    object-fit: cover;
    overflow: hidden;
}

.events-info .card button:hover{
    color: #000;
}

.status-count{
    padding: 60px 0;
    background-color: #006699;
    color: #fff;
}

.status-count h1{
    font-weight: 600;
}

.status-count p{
    font-weight: 300;
}

.status-count .icon i{
    color: #fff;
    margin: 40px 0;
}

.team{
    margin: 40px 0;
}

.team-heading{
    padding: 30px;
    color: #006699;
}

.team-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.team-heading a{
    color: #000;
}

.team-info{
    padding: 40px 0;
    margin: 0 20px;
}

.team-info .card-img-top{
    width: 250px;
    height: 250px;
}

.team-info .card img{
    width: 100%;
    height: 250px;
    /*width: 250px;
    height: 250px;*/
    object-position: relative;
    object-fit: cover;
    overflow: hidden;
    background-position: center top;
}

.single-team{
    background-color: #006699;
    margin-bottom: 10px;
}

.single-team:hover .social{
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1,1);
}

.img-area{
    /*height: 300px;
    width: 300px;*/
    overflow: hidden;
    position: relative;
}

.img-area img{
    width: 100%;
    height: 320px;
    /*max-width: 300px;
    height: 60%;
    max-height: 300px;*/
    /*width: 300px;
    height: 300px;*/
    object-fit: cover;
    vertical-align: top;
}

.single-team:hover img{
    transform: scale(1.2);
}

.img-area img{
    transition: all 0.4s ease 0s;
}

@media (max-width: 768px){
    .img-area img{
        display: inline-block;
    }
}

.img-area .social{
    background-color: rgba(0,66,99,0.4);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateY(90deg) scale(0.5,0.5);
}

.img-area .social ul{
    text-align: center;
    position: relative;
    top: 50%;
    /*left: 46%;*/
}

.img-area .social ul li{
    margin: 3px;
    display: inline-block;
}

.img-area .social ul li a{
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.img-area .social ul li a:hover{
    background-color: #fff;
    border: 1px solid transparent;
}

.img-area .social ul li a:hover i{
    color: #000;
}

.img-text{
    padding: 25px;
    color: #fff;
    text-align: center;
}

.img-text h4{
    margin: 0 0 5px;
    font-size: 30px;
    font-family: bignoodletitling;
    letter-spacing: 5px;
}

.img-text h5{
    font-size: 17px;
    text-transform: uppercase;
    font-weight: bold;
}

.testimonials{
    background : #000000;
    padding: 50px 0;
    position: relative;
    /*margin: 20px 0;*/
}

.testimonials-heading{
    color: #ffffff;
    padding-bottom: 30px;
}

.testimonial-image{
    width: 100px;
    height: 100px;
    margin: auto;
    border: 2px solid #fff;
    border-radius: 50%;
    overflow: hidden;
}

.testimonials .carousel-caption{
    position: static;
    padding-bottom: 20px;
    padding-top: 5vw; 
}

.testimonials .carousel-indicators{
    bottom: -30px;
}

.page-footer{
    background-color: #006699;
    color: #ffffff;
}

.footer-heading{
    padding: 30px;
    color: #fff;
}

.footer-heading .underline{
    background-color: #fff;
    border: 2px solid #fff;
    margin-top: -5px;
}

.footer-info{
    padding: 40px 0;
    margin: 0 40px;
}

.footer-info .contact-mode{
    padding: 20px 0;
}

.page-footer a{
    color: #ffffff;
}

.social-media-handles a{
    padding: 10px;
}
