::selection {
    background-color: #000;
    color: #fff;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/*.ieee-navbar{
    font-size: 13px;
    background: #0874a4;
    height: 35px;
}

.ieee-navbar a{
    padding: 0 20px;
    margin: 0 10px;
    color: #fff;
}
*/

.sticky-top{
    top: 0;
}

.sb-navbar{
    position: fixed;
    background: transparent;
    margin-bottom: -10px;
    font-weight: 400;
}

.sb-navbar .fa-bars{
    color: #fff;
}

.sb-navbar.scrolled .fa-bars{
    color: #000;
}

.sb-navbar .dropdown-menu{
    border: 0;
    background: transparent;
}

.sb-navbar .dropdown a{
    text-align: center;
}

.sb-navbar .nav-item a{
    color: #fff;
}

.sb-navbar.scrolled {  
    /*background-color: #fbc108;*/
    background-color: #fff;
    transition: background-color 200ms linear;
}

.sb-navbar.scrolled a{
    color: #000;
}

.sb-navbar.scrolled .dropdown-menu{
    background-color: #fff;
}

.sb-navbar .navbar-brand img{
    /*height: 50px;
    width: 100%;*/
    height: 4rem;
    width: 9rem;
    margin-left: 5vw;
}

@media (max-width: 1080px){
    .sb-navbar .navbar-brand img{
        height: 3rem;
        width: 6.75rem;
    }
}

.sb-navbar .navbar-nav{
    margin-right: 25px;
    position: relative;
}

.sb-navbar .navbar-nav li{
    padding: 5px 20px;
    /*padding-left: 20px;*/
}

.sb-navbar ul{
    padding-right: 25px;
    list-style: none;
}

.sb-navbar ul li{
    display: inline-block;
    position: relative;
    line-height: 21px;
    text-align: center;
}

.sb-navbar ul li a{
    display: block;
    padding: 8px 25px;
    text-decoration: none;
}

.sb-navbar ul li:hover{
    color: #fff;
    background: #193f7d;
}

.sb-navbar.scrolled ul li:hover a{
    color: #fff;
    /*background: #193f7d;*/
}

.sb-navbar.scrolled ul li:hover .dropdown-menu a{
    color: #000;
    /*background: #193f7d;*/
}

.sb-navbar ul li .dropdown{
    min-width: 100%;
    background: #f2f2f2;
    display: none;
    position: absolute;
    /*z-index: 999;*/
    left: 0;
}

.sb-navbar ul li .dropdown-menu a:hover{
    background: #426296;   
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #055fad;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
  }
}

.team-banner {
    color: #fff;
    height: 80vh;
    min-height: 500px;
    background:linear-gradient(0deg,rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url('../images/team/home-carousel/sb_2018_team.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.team{
    padding: 40px 0;
}

.faculty{
    padding: 20px 0;
    background-color: #f9f6e9;
}

.sb-team{
    padding: 20px 0;
}

.wie-team{
    padding: 20px 0;
    background-color: #f9f6e9;
}

.cs-team{
    padding: 20px 0;
}

.pes-team{
    padding: 20px 0;
    background-color: #ebfcdc;
}

.core-team{
    padding: 20px 0;
}

.team-heading{
    padding: 30px;
    color: #055fad;
}

.faculty .team-heading{
    padding: 30px;
    color: #28324b;
}

.wie-team .team-heading{
    padding: 30px;
    color: #420b5a;
}

.cs-team .team-heading{
    padding: 30px;
    color: #fc9b1c;
}

.pes-team .team-heading{
    padding: 30px;
    color: #5a9541;
}

/*.team-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}*/

.team-info{
    padding: 40px 0;
    margin: 0 20px;
}

/*.team-info .card-img-top{
    width: 250px;
    height: 250px;
}*/

.single-team{
    background-color: #055fad;
    margin-bottom: 10px;
}

.faculty .single-team{
    background-color: #28324b;
    margin-bottom: 10px;
}

.wie-team .single-team{
    background-color: #420b5a;
    margin-bottom: 10px;
}

.cs-team .single-team{
    background-color: #fc9b1c;
    margin-bottom: 10px;
}

.pes-team .single-team{
    background-color: #5a9541;
    margin-bottom: 10px;
}

.single-team:hover .social{
    cursor: pointer;
    opacity: 1;
    transform: rotateY(0deg) scale(1,1);
}

.img-area{
    overflow: hidden;
    position: relative;
}

.img-area img{
    width: 100%;
    height: 320px;
    object-fit: cover;
    vertical-align: top;
}

.sb-team .img-area img{
    max-height: 250px;
}

.wie-team .img-area img{
    max-height: 250px;
}

.cs-team .img-area img{
    max-height: 250px;
}

.pes-team .img-area img{
    max-height: 250px;
}

.core-team .img-area img{
    max-height: 250px;
}

.single-team:hover img{
    transform: scale(1.2);
}

.img-area img{
    transition: all 0.4s ease 0s;
}

@media (max-width: 768px){
    .img-area img{
        display: inline-block;
    }
}

.img-area .social{
    background-color: rgba(0,66,99,0.4);
    position: absolute;
    text-align: center;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transform: rotateY(90deg) scale(0.5,0.5);
}

.faculty .img-area .social{
    background-color: rgba(40, 50, 75,0.4);
}

.wie-team .img-area .social{
    background-color: rgba(66, 11, 90,0.1);
}

.cs-team .img-area .social{
    background-color: rgba(252, 155, 28,0.1);
}

.pes-team .img-area .social{
    background-color: rgba(90, 149, 65,0.1);
}

.img-area .social ul{
    text-align: center;
    position: relative;
    top: 50%;
    /*left: 46%;*/
}

.img-area .social ul li{
    margin: 3px;
    display: inline-block;
}

.img-area .social ul li a{
    border: 1px solid #fff;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
}

.img-area .social ul li a:hover{
    background-color: #fff;
    border: 1px solid transparent;
}

.img-area .social ul li a:hover i{
    color: #000;
}

.img-text{
    padding: 20px 10px;
    color: #fff;
    text-align: center;
}

.img-text h4{
    margin: 0 0 5px;
    font-size: 25px;
    font-family: bignoodletitling;
    /*letter-spacing: 2px;*/
}

.img-text h5{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    /*letter-spacing: 1px;*/
}

.page-footer{
    background-color: #055fad;
    color: #ffffff;
}

.footer-heading{
    padding: 30px;
    color: #fff;
}

.footer-heading .underline{
    background-color: #fff;
    border: 2px solid #fff;
    margin-top: -5px;
}

.footer-info{
    padding: 40px 0;
    margin: 0 40px;
}

.footer-info .underline{
    background-color: #fff;
}

.footer-info .contact-mode{
    padding: 20px 0;
}

.page-footer a{
    color: #ffffff;
}

.social-media-handles a{
    padding: 10px;
}