::selection {
  background-color: #000;
  color: #fff;
}

html {
scroll-behavior: smooth;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  background-color: #f9f6e9;
}
h4{
  color:white;
font-size: 1.2rem;
}
h5{
  text-align: center;
  color: #420b5a;
font-size: 1.81vh;
  
}

h1{
  font-family: 'Poppins', sans-serif!important;
  color: #420b5a;
  text-align: center;
}

.anime-line{
  height: 3px;
  width: 180px;
}
.sub-section .h3::before{

    content: '';
    display: block;
    width: 100px;
    height: 3px;
    background-color: #fc9b1c;
    margin: 0 10px;
}

.sticky-top{
  top: 0;
}

.sb-navbar{
  position: fixed;
  background: transparent;
  margin-bottom: -10px;
  font-weight: 400;
}

.sb-navbar .fa-bars{
  color: #fff;
}

.sb-navbar.scrolled .fa-bars{
  color:white;
}

.sb-navbar .dropdown-menu{
  border: 0;
  background: transparent;
}

.sb-navbar .dropdown a{
  text-align: center;
}

.sb-navbar .nav-item a{
  color: #fff;
}

.sb-navbar.scrolled {  
  /*background-color: #fbc108;*/
  background-color: #420b5a;
  transition: background-color 200ms linear;
}

.sb-navbar.scrolled a{
  color: #fff;
}

.sb-navbar.scrolled .dropdown-menu{
  background-color: #fff;
}

.sb-navbar .navbar-brand img{
  /*height: 50px;
  width: 100%;*/
  height: 4rem;
  width: 5rem;
  margin-left: 5vw;
}

@media (max-width: 1080px){
  .sb-navbar .navbar-brand img{
      height: 3rem;
      width: 4rem;
  }
}

.sb-navbar .navbar-nav{
  margin-right: 25px;
  position: relative;
}

.sb-navbar .navbar-nav li{
  padding: 5px 20px;
  /*padding-left: 20px;*/
}

.sb-navbar ul{
  padding-right: 25px;
  list-style: none;
}

.sb-navbar ul li{
  display: inline-block;
  position: relative;
  line-height: 21px;
  text-align: center;
}

.sb-navbar ul li a{
  display: block;
  padding: 8px 25px;
  text-decoration: none;
}

.sb-navbar ul li:hover{
  color: #fff;
  background: #420b5a;
}

.sb-navbar.scrolled ul li:hover{
  background: #fff;
}

.sb-navbar.scrolled ul li:hover a{
  color: #420b5a;
  /*background: #193f7d;*/
}

.sb-navbar.scrolled .dropdown-menu a{
  color: #000;
  /*background: #193f7d;*/
}

.sb-navbar.scrolled ul li:hover .dropdown-menu a{
  color: #000;
  /*background: #193f7d;*/
}

.sb-navbar ul li .dropdown{
  min-width: 100%;
  background: #f2f2f2;
  display: none;
  position: absolute;
  /*z-index: 999;*/
  left: 0;
}

.sb-navbar ul li .dropdown-menu a:hover{
  background: #9618cc;
  color: #fff;
}

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
.offcanvas-header{ display:block; }
.navbar-collapse {
  position: fixed;
  top:0; 
  bottom: 0;
  left: 100%;
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
  overflow-y: auto;
  visibility: hidden;
  background-color: #420b5a;
  transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
}
.navbar-collapse.show {
  visibility: visible;
  transform: translateX(-100%);
}
}

/*wie-banner*/

.wie-banner {
  color: #fff;
  height: 70vh;
  min-height: 500px;
  background:linear-gradient(0deg,rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('../images/wie/team/sample-wie-team.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}







.indicator{
    position:relative;
    width: 20px;
    height: 20px;
    transform: rotate(45deg);
  }
  .indicator span
  {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    border-sizing : border-box;
    border:none;
    border-right: 3px solid #fff;
    border-bottom: 3px solid #fff;
    animation: animate 1s linear  infinite;
  }
  
  .indicator span:nth-child(1)
  {
    top: -20px;
    left:-20px;
    animation-delay:0s;
  }
  .indicator span:nth-child(2)
  {
    top: -10px;
    left:-10px;
    animation-delay:0.2s;
  }
  .indicator span:nth-child(3)
  {
    top: 0px;
    left: 0px;
    animation-delay:0.4s;
  }
  .indicator span:nth-child(4)
  {
    top: 10px;
    left: 10px;
    animation-delay:0.6s;
  }
  .indicator span:nth-child(5)
  {
    top: 20px;
    left:20px;
    animation-delay:0.8s;
  }
  
  @keyframes animate 
  {
    0%
    {
      border-color : #fff;
      transform: translate(0,0);
    }
    20%
    {
      border-color : #fff;
      transform: translate(10px,10px);
    }
    20.1%,100%
    {
      border-color : #222;
    }
  }

/*about ieee wie*/

.about-ieee{
    margin-top: 30px;
    padding-bottom: 20px;
    justify-content: center;
    text-align: center;

}

.about-ieee-heading{
    padding: 30px;
    font-weight: 400;
    color: #420b5a;
    display: block;
    /*text-decoration: underline #000;*/
}
.about-ieee-info .container .sub-section2 h2::before {
  content: '';
  display: inline-block;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 80px;
  height: 2px;
  background-color: #420b5a;
  margin: 1 10 1 10px;
}
.about-ieee-info .container .sub-section h2::after {
    content: '';
    display: inline-block;
    margin-bottom: 10px;
    box-sizing: border-box;
    width: 80px;
    height: 2px;
    background-color: #420b5a;
    margin: 1 10 1 10px;
}

.about-ieee-info h2{
    padding: 20px 0;
    color: #000;
}

.about-ieee-heading .underline{
    background-color: #000;
    border: 2px solid #000;
    margin-top: -5px;
}

.about-ieee-info .underline{
    background-color: #420b5a;
    border: 1px solid #45d328;
    margin-top: -18px;
}

.about-ieee-info p{
    padding-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
}

.about-ieee-info .sub-section{
    padding: 40px 0;
}

.about-ieee-info .btn{
    color: #fff;
    background-color: #420b5a;
    font-family: 'Oswald';
}
.about-ieee-info .btn:hover{
    color: #420b5a;
    background-color: #fff;
    border: 2px solid #000;
    overflow: hidden;
    margin-bottom: -2px;
}
#about .container ul li p{
  position: relative;
  z-index: 10;
  padding: 0 10px;
  color: black;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
  padding-bottom: 5px; 
}
.what-we-do
{
  margin: 5rem auto;
}

.what-we-do .row
{
	margin: 30px auto;
}

.what-we-do .row .list-items
{
	margin: 10px auto;
}

.what-we-do .row .list-items p
{
	position: relative;
  text-align: center;
	padding: 20px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	overflow: hidden;
  cursor: pointer;
}

.what-we-do .row .list-items p:before
{
	content: '';
	position: absolute;
	left: -99%;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #420b5a;
	z-index: -1;
	transition: 0.5s;
}

.what-we-do .row .list-items p:hover
{
	margin-left: 10px;
	color: #fff;
}

.what-we-do .row .list-items p:hover::before
{
	left: 0;

}







h3{
  font-size: 2.1rem!important;
}
.about-ieee-info .sub-section .container ul{
    position: relative;
}
.about-ieee-info .sub-section .container ul li{
    position: relative;
    list-style: none;
    display: table;
    margin:25px 0;
    padding-left: 34px;
    padding-right: 5px;
}
.container .abtli1 .abtli::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:30px;
    height:30px;
    background: transparent;
    border-radius: 50px;
    transition: background 0.5s,width 0.5s;
    transition-delay: 0.5s 0s;
    border:2px solid #420b5a;
    box-sizing: content-box;
}
.container .abtli1 .abtli:hover::before{
    width:100%;
    height:100%;
    background: rgb(126,28,169,0.3);
    top: -2px;
    position: center;
    /*bottom: 10px;*/
    transition-delay: 0.5s 0s;

}
.container .abtli1 .abtli::after{
    content: '';
    position: absolute;
    top: 13px;
    left: 12px;
    width: 6px;
    height:6px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
    transition: 0.5s;
    transition-delay: os;
}
.container .abtli1 .abtli:hover::after{
    left:24px;
    transition-delay: 0.1s;
    transform: rotate(45deg) scale(1.8); 
}
.container .abtli1 .abtli p{
    position: relative;
    z-index: 10;
    padding: 0 16px;
    color: black;
    margin-top: 0px;
    margin-bottom: 0px;
}


/*p{
    line-height: 1rem;
}
*/
/*.abi{
  margin-left: 45%;
}*/



/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
position: fixed;
top: 0;
left: 0;
bottom: 0;
z-index: 9997;
transition: all 0.5s;
padding: 15px;
overflow-y: auto;
}

@media (max-width: 600px) {
#header {
  width: 300px;
  background: #fff;
  border-right: 1px solid #e6e9ec;
  left: -300px;
}
}

@media (min-width: 600px) {
#main {
  margin-left: 100px;
}
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.nav-menu {
padding: 0;
display: block;
}

.nav-menu * {
margin: 0;
padding: 0;
list-style: none;
}

.nav-menu > ul > li {
position: relative;
white-space: nowrap;
}

.nav-menu a {
display: flex;
align-items: center;
color: #420b5a;
padding: 10px 18px;
margin-bottom: 8px;
transition: 0.3s;
font-size: 15px;
border-radius: 50px;
background: #fff;
height: 56px;
width: 100%;
overflow: hidden;
transition: 0.3s;
}

.nav-menu a i {
font-size: 20px;
}

.nav-menu a span {
padding: 0 5px 0 7px;
color: #45505b;
}

@media (min-width: 600px) {
.nav-menu a {
  width: 56px;
}
.nav-menu a span {
  display: none;
  color: #fff;
}
}

.nav-menu a:hover, .nav-menu .active, .nav-menu li:hover > a {
color: #fff;
background: #420b5a;
}

.nav-menu a:hover span, .nav-menu .active span, .nav-menu li:hover > a span {
color: #fff;
}

.nav-menu a:hover, .nav-menu li:hover > a {
width: 100%;
color: #fff;
}

.nav-menu a:hover span, .nav-menu li:hover > a span {
display: block;
}


.none1 {
  display:none;
}

.nav-item{
color: #0ab5c4;
}

.carousel-control-prev,.carousel-control-prev-icon {
  margin-left: 0px;
  left: -9%!important;
  margin-left: 0;

}
.carousel-control-next-icon,.carousel-control-next {
  right: -9%!important;
  
  margin-right: 0;
}

.item:hover{
opacity: 0.5;
}
/* teams*/


.box{
  background: linear-gradient(to top right, #4a626e 0.3%, #1e2130 90.2%);
  font-family: 'Raleway', sans-serif;
  position: relative;
  height: 100px;
  overflow: hidden;
  transition: all 0.3s ease 0s;
}
@media (max-width:1200px){
.box{
  height: 70px!important;;

}
}
/*.box{ filter: drop-shadow(3px 3px 4px #808080); }
*//*.box:hover{ filter: drop-shadow(1px 1px 1px #808080); }*/
.box:before{
  content: "";
  width: 30px;
  height: 40px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transform-origin: top right;
  transform: scale(0);
  position: absolute;
  top: 20px;
  right: 20px;
  transition: all 0.4s ease;
}
.box:hover:before{ transform: scale(1); }
.box img{
  width: 100%;
  height: auto;
  transition: all 0.4s ease;
  vertical-align: top;
}
.box:hover img{ opacity: 0.2; }
.box .box-content{
  color: #fff;
  opacity: 0;
  position: absolute;
  bottom: 15px;
  left: 15px;
  transition: all 0.4s ease;
}
.box:hover .box-content{
  opacity: 1;
  transition-delay: 0.25s;
}
.box .title{
  font-size: 22px;
  font-weight: 600;
  text-transform: capitalize;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
  margin: 0 0 3px;
}
.box .post{
  font-size: 13px;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .6);
  display: block;
} 
.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
  position: absolute;
  top: 50%;
  left: 50%;
  transition: all 0.4s ease;
}
.box:hover .icon{ transform: translateX(-50%) translateY(-50%) scale(1) rotate(360deg); }
.box .icon li{
  margin: 0 2px;
  display: inline-block;
}
.box .icon li a{
  color: #fff;
  font-size: 16px;
  text-align: center;
  line-height: 33px;
  height: 35px;
  width: 30px;
  border: 1px solid #fff;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .6);
  display: block;
  transition: all 0.3s;
}
.box ul li a:hover{
  border-radius: 0 10px;
  background: #f24688;
}
@media only screen and (max-width:990px){
  .box{ margin: 0 0 0px; }
}


.teammain{
  height: auto;
  width: auto;
  object-fit: cover;
}


#team {
    padding-top: 10px;
    padding-bottom: 10px;
    
}
.box .icon {
  padding: 0;
  margin: 0;
  list-style: none;
  transform: translateX(-50%) translateY(-50%) scale(0) rotate(0);
  position: absolute;
  top: 50%;
  left: 50%;
}
.team .ul {
  font-size: 10px;
}

#team .cont {
    position: relative;
    /* width: 50%; */
    margin :30px auto;
  }


.img-text{
  background-color: #420b5a;
  text-align: center;
  color: white;
  padding: 0.1rem;

}

.teammain{
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
.txt{
  margin-bottom: 0.2rem;
}

.teaam{
height: 230px!important;
}
@media(max-width: 360px) and (min-width:270px){
.teaam{
height: 200px!important;
width: 200px!important;
}
.img-text{
  width: 200px!important;
}
  
}
@media(max-width: 768px) and (min-width:470px){
  .teaam{
    text-align: center;
    align-content: center;
  height: 300px!important;
    width: 300px!important;
    
}
.mainteam{
  padding-left: 20%;
}
.img-text{
  width: 300px!important;
  text-align: center;
}
  }
  @media(max-width: 470px) and (min-width:350px){
    .teaam{
      text-align: center;
      align-content: center;
    height: 250px!important;
      width: 250px!important;
      
  }
  .mainteam{
    padding-left: 10%;
  }
  .img-text{
    width: 250px!important;
    text-align: center;
  }
    }

.completeteam{
    display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
-webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
        justify-content: space-around;
-webkit-box-align: center;
-webkit-align-items: center;
    -ms-flex-align: center;
        align-items: center;
-webkit-align-content: center;
    -ms-flex-line-pack: center;
        align-content: center;

  text-align: center;
  font-color: #420b5a;
}
.compteam{
  border-color: #420b5a;
  font-color: #420b5a;

box-sizing: border-box;
-webkit-appearance: none;
   -moz-appearance: none;
        appearance: none;
background-color: transparent;
border: 2px solid #420b5a;
border-radius: 0.6em;
color: #420b5a!important;
cursor: pointer;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
-webkit-align-self: center;
    -ms-flex-item-align: center;
        align-self: center;
font-size: 1rem;
font-weight: 400;
line-height: 1;
margin: 20px;
padding: 1.2em 2.8em;
text-decoration: none;
text-align: center;
text-transform: uppercase;
font-family: 'Montserrat', sans-serif;
font-weight: 700;

}
.btn-outline-primary{
  color: #420b5a!important;
  border-color: #420b5a!important;
}
.btn-outline-primary:hover{
background-color: #420b5a!important;
  color: white!important;
  border-color: #420b5a!important;
}

.btn-outlinee-primary{
  color: #420b5a!important;
  border-color: #420b5a!important;
}
.btn-outlinee-primary:hover{
background-color: rgb(247, 233, 250)!important;
  color: #420b5a!important;
  border-color: #420b5a!important;
}
.compteam:hover{
box-shadow: 0 0 3px 0 #420b5a inset, 0 0 3px 1px #420b5a;
}
/*.mainteam{
height: 300px!important;
}*/

.socialmedia{
height: 2rem;
width: 2rem;

}

a:hover{
text-decoration: none;
}
/* footer */


.gallery111{
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}
.gal,.ggg{
  padding: 1rem!important;
}


.foot{
  background: url('images/wie/background/cont.png');
  background-attachment: relative;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  font-size: 1rem!important;
  margin: 0px!important;
  color: white;

}

.ff{
margin: 10px;
padding: 10px;
}
.cont{
  margin-left: 50px!important;
  margin-bottom: 30px!important;
  margin-right: 30px!important;
  margin-top: 10px!important;
/*    margin: 50px!important;
*/}
.contactlink{
  text-decoration: none;
  color: white;
}
.contactlink:hover{
  text-decoration: underline;
  color: grey;
}
.contactinfo{
  margin: 0.2rem;
}
.contact{
font-family: 'Original Surfer', cursive;
}
.socialmedia{
  height: 1.5rem;
  width: 1.5rem;
  margin: 0.2em;
}
.fh{
font-family: 'Merriweather', serif;
}

.footercontent{

    font-family: 'Merriweather', serif;

    font-size: 1.1rem!important;
    font-family: 'Lora', serif;

}
.form-container{
border: 0px solid black;
padding: 30px 30px;
-webkit-box-shadow: 0px -3px 26px 20px rgba(0,0,0,0.250);
-moz-box-shadow: 0px -3px 26px 20px rgba(0,0,0,0.25);
box-shadow: 0px -3px 26px 20px rgba(0,0,0,0.25);


}

.mapp{
  width: 100%!important;

}
.ppp{
  width: 100%!important;
}
 
.ppp-sm{
  width: 50%!important;
}
.ppp-lg{
  width: 45%!important;
}
.ppp-md{
  width: 60%!important;
  text-align: center;
} 

.hel{

margin: 15px;
padding: 10px;
}
.btn-outline-success
{
  color: white!important;
  border-color: white!important;
}
.btn-outline-success:hover,.btn-outline-success:focus{
  color: #420b5a!important;
  border:1px solid black;
  border-radius: 1px;
  box-shadow: 0 0 3px 0 #420b5a inset, 0 0 3px 3px #420b5a;
  background-color: white!important;
}
 .btn-outline-secondary:hover
{
  background-color: #420b5a!important;
  color:white!important;
  border-color:#420b5a!important;
}
.btn-outline-secondary{
  position: absolute;
  
  left:50%;
  bottom: 13%, imp !important;
  transform: translate(-50%,0);
  background: transparent!important;
   color: #420b5a!important;
   border-radius: 10px!important;
  border:3px solid #420b5a!important;
  border-radius: 1px;
}


.so{
color: #420b5a;
}

/* back to top*/
@media(max-width: 1800px){
#button.show {
    opacity: 0;
  }

#button {
    display: inline-block;
    background-color: transparent;
    border-style:solid;
    border-color: #000;
    width: 50px;
    height: 50px;
    line-height:60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
  }
  
  #button i{
    font-size:32px;
    color:white;
  }
  
  
  
  #button:hover {
    cursor: pointer;
    background-color: #420b5a;
  }
}
@media(max-width: 600px){
#button {
    display: inline-block;
    background-color: transparent;
    border-style:solid;
    border-color: #000;
    width: 50px;
    height: 50px;
    line-height:60px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s, 
    opacity .5s, visibility .5s;
    opacity: 0;
    z-index: 1000;
  }
  
  #button i{
    font-size:32px;
    color:white;
  }

  #button:hover {
    cursor: pointer;
    background-color: #420b5a;
  }
  
  #button.show {
    opacity: 1;
  }
}

.heading{
     display: flex;
    justify-content: center;
    color: #420b5a;
    flex-direction: column;
    align-items: center;
    margin: 5px 0;
}

@keyframes animate-line 
{
    0%
    {
        transform: scaleX(0);
    }
    50%
    {
        transform: scaleX(1);
    }
    100%
    {
        transform: scaleX(0);
    }
}
.finalh{
  text-align: center;
  justify-content: center;
}
.upp{
  color:#000;
}
.upp:hover{
  color: white!important;;
}

.btn--primary
{
  background: none;
  border: 2px solid #420b5a;
  font: inherit;
  line-height: 1;
  margin: 0.5em 0 0.5em 0.5em;
  padding: 1em 2em;
}

.btn--primary a
{
  text-decoration: none;
  color: #000;
}

.btn--primary:hover, .btn--primary:focus
{
  box-shadow: inset 0 -3.25em 0 0 #420b5a;
  transition: box-shadow 0.5s;
  color: #fff!important;
}

/******events***********/
@media only screen and (min-width: 600px) {
  .owl-prev, .owl-next {
    width: 2rem;
    height: 6rem;
    padding: 10px;
    margin:10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: block !important;
    border: solid;
  }
  .owl-prev:visited{
      border: none !important;
  }
  .owl-prev { left: -50px; }
  .owl-next { right: -50px; }
  .owl-prev i, .owl-next i {transform : scale(2,5); color: white;}
  }
  
  @media only screen and (max-width: 600px) {
    .owl-prev, .owl-next {
      width: 2rem;
      height: 6rem;
      padding: 10px;
      margin:10px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block !important;
      border: solid;
    }
    .owl-prev:visited{
        border: none !important;
    }
    .owl-prev { left: -10px; }
    .owl-next { right: -10px; }
    .owl-prev i, .owl-next i {transform : scale(2,5); color:white;}
  
  }
  
#events {

background: url("../images/wie/background/events.jpg") top center no-repeat;
background-size: cover;
padding: 0 0;
/* margin: 100px auto; */
}

#events h1{
margin: 30px auto;
}

#events  .feature_header {
margin-bottom: 88%;
font-family: inherit;
font-weight: 300;
line-height: 1.1;
color: inherit;
font-size: 2rem;
}
#events{
  text-align: center;
}
#events .feature_item {
background: #ffffff;
box-shadow: 1px 1px 25px 0 rgba(0, 0, 0, 0.1);
border-radius: 15px;
padding: 60px 30px;
height: 71vh;
transition: all .4s ease-in-out;
margin: 20px auto;
}

#events .feature_item:hover{
transform: translateY(-30px);
box-shadow: 1px 1px 25px 0 rgba(0,0,0,0.09);
}


#events .feature_item .feature_title {
font-size: 20px!important;
color:black;
font-weight: 600;
margin: 15px 0 15px;
padding: 0;
}

#events .feature_item .feature_text {
font-size: 15px;
font-weight: 400;
color:black;
line-height: 26px;
margin: 0;
padding: 0;
}
#events .feature_item .btn{
  margin-top:10px;
}

.even{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}


/*Page buttons*/
.page-btn
{
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-btn .page-btn-text
{
  background: none;
  color: white;
  border: 2px solid white;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.page-btn-text a
{
  text-decoration: none;
  color: #000;
}

.page-btn-text:hover, .page-btn-text:focus
{
  box-shadow: inset 0 -3.25em 0 0 white;
  transition: box-shadow 0.5s;
  color:#420b5a;
}
