.calenderDatesDiv,
.calenderCardsDiv,
.checkoutContainer {
    background: radial-gradient(ellipse at bottom, #194F8F 0%, #090a0f 100%);

}

.checkoutContainer{
    color: white;
}

.calenderDatesDiv {
    padding: 0 !important;
}

#calenderTitle {
    text-align: center;
    font-weight: 600;
    position: relative;
    top: 40%;
    color: white;
}

#stars {
    width: 1px;
    height: 1px;
    background: transparent;
    animation: animStar 50s linear infinite;
    box-shadow: 779px 1331px #fff, 324px 42px #fff, 303px 586px #fff,
        1312px 276px #fff, 451px 625px #fff, 521px 1931px #fff, 1087px 1871px #fff,
        36px 1546px #fff, 132px 934px #fff, 1698px 901px #fff, 1418px 664px #fff,
        1448px 1157px #fff, 1084px 232px #fff, 347px 1776px #fff, 1722px 243px #fff,
        1629px 835px #fff, 479px 969px #fff, 1231px 960px #fff, 586px 384px #fff,
        164px 527px #fff, 8px 646px #fff, 1150px 1126px #fff, 665px 1357px #fff,
        1556px 1982px #fff, 1260px 1961px #fff, 1675px 1741px #fff,
        1843px 1514px #fff, 718px 1628px #fff, 242px 1343px #fff, 1497px 1880px #fff,
        1364px 230px #fff, 1739px 1302px #fff, 636px 959px #fff, 304px 686px #fff,
        614px 751px #fff, 1935px 816px #fff, 1428px 60px #fff, 355px 335px #fff,
        1594px 158px #fff, 90px 60px #fff, 1553px 162px #fff, 1239px 1825px #fff,
        1945px 587px #fff, 749px 1785px #fff, 1987px 1172px #fff, 1301px 1237px #fff,
        1039px 342px #fff, 1585px 1481px #fff, 995px 1048px #fff, 524px 932px #fff,
        214px 413px #fff, 1701px 1300px #fff, 1037px 1613px #fff, 1871px 996px #fff,
        1360px 1635px #fff, 1110px 1313px #fff, 412px 1783px #fff, 1949px 177px #fff,
        903px 1854px #fff, 700px 1936px #fff, 378px 125px #fff, 308px 834px #fff,
        1118px 962px #fff, 1350px 1929px #fff, 781px 1811px #fff, 561px 137px #fff,
        757px 1148px #fff, 1670px 1979px #fff, 343px 739px #fff, 945px 795px #fff,
        576px 1903px #fff, 1078px 1436px #fff, 1583px 450px #fff, 1366px 474px #fff,
        297px 1873px #fff, 192px 162px #fff, 1624px 1633px #fff, 59px 453px #fff,
        82px 1872px #fff, 1933px 498px #fff, 1966px 1974px #fff, 1975px 1688px #fff,
        779px 314px #fff, 1858px 1543px #fff, 73px 1507px #fff, 1693px 975px #fff,
        1683px 108px #fff, 1768px 1654px #fff, 654px 14px #fff, 494px 171px #fff,
        1689px 1895px #fff, 1660px 263px #fff, 1031px 903px #fff, 1203px 1393px #fff,
        1333px 1421px #fff, 1113px 41px #fff, 1206px 1645px #fff, 1325px 1635px #fff,
        142px 388px #fff, 572px 215px #fff, 1535px 296px #fff, 1419px 407px #fff,
        1379px 1003px #fff, 329px 469px #fff, 1791px 1652px #fff, 935px 1802px #fff,
        1330px 1820px #fff, 421px 1933px #fff, 828px 365px #fff, 275px 316px #fff,
        707px 960px #fff, 1605px 1554px #fff, 625px 58px #fff, 717px 1697px #fff,
        1669px 246px #fff, 1925px 322px #fff, 1154px 1803px #fff, 1929px 295px #fff,
        1248px 240px #fff, 1045px 1755px #fff, 166px 942px #fff, 1888px 1773px #fff,
        678px 1963px #fff, 1370px 569px #fff, 1974px 1400px #fff, 1786px 460px #fff,
        51px 307px #fff, 784px 1400px #fff, 730px 1258px #fff, 1712px 393px #fff,
        416px 170px #fff, 1797px 1932px #fff, 572px 219px #fff, 1557px 1856px #fff,
        218px 8px #fff, 348px 1334px #fff, 469px 413px #fff, 385px 1738px #fff,
        1357px 1818px #fff, 240px 942px #fff, 248px 1847px #fff, 1535px 806px #fff,
        236px 1514px #fff, 1429px 1556px #fff, 73px 1633px #fff, 1398px 1121px #fff,
        671px 1301px #fff, 1404px 1663px #fff, 740px 1018px #fff, 1600px 377px #fff,
        785px 514px #fff, 112px 1084px #fff, 1915px 1887px #fff, 1463px 1848px #fff,
        687px 1115px #fff, 1268px 1768px #fff, 1729px 1425px #fff,
        1284px 1022px #fff, 801px 974px #fff, 1975px 1317px #fff, 1354px 834px #fff,
        1446px 1484px #fff, 1283px 1786px #fff, 11px 523px #fff, 1842px 236px #fff,
        1355px 654px #fff, 429px 7px #fff, 1033px 1128px #fff, 157px 297px #fff,
        545px 635px #fff, 52px 1080px #fff, 827px 1520px #fff, 1121px 490px #fff,
        9px 309px #fff, 1744px 1586px #fff, 1014px 417px #fff, 1534px 524px #fff,
        958px 552px #fff, 1403px 1496px #fff, 387px 703px #fff, 1522px 548px #fff,
        1355px 282px #fff, 1532px 601px #fff, 1838px 790px #fff, 290px 259px #fff,
        295px 598px #fff, 1601px 539px #fff, 1561px 1272px #fff, 34px 1922px #fff,
        1024px 543px #fff, 467px 369px #fff, 722px 333px #fff, 1976px 1255px #fff,
        766px 983px #fff, 1582px 1285px #fff, 12px 512px #fff, 617px 1410px #fff,
        682px 577px #fff, 1334px 1438px #fff, 439px 327px #fff, 1617px 1661px #fff,
        673px 129px #fff, 794px 941px #fff, 1386px 1902px #fff, 37px 1353px #fff,
        1467px 1353px #fff, 416px 18px #fff, 187px 344px #fff, 200px 1898px #fff,
        1491px 1619px #fff, 811px 347px #fff, 924px 1827px #fff, 945px 217px #fff,
        1735px 1228px #fff, 379px 1890px #fff, 79px 761px #fff, 825px 1837px #fff,
        1980px 1558px #fff, 1308px 1573px #fff, 1488px 1726px #fff,
        382px 1208px #fff, 522px 595px #fff, 1277px 1898px #fff, 354px 552px #fff,
        161px 1784px #fff, 614px 251px #fff, 526px 1576px #fff, 17px 212px #fff,
        179px 996px #fff, 467px 1208px #fff, 1944px 1838px #fff, 1140px 1093px #fff,
        858px 1007px #fff, 200px 1064px #fff, 423px 1964px #fff, 1945px 439px #fff,
        1377px 689px #fff, 1120px 1437px #fff, 1876px 668px #fff, 907px 1324px #fff,
        343px 1976px #fff, 1816px 1501px #fff, 1849px 177px #fff, 647px 91px #fff,
        1984px 1012px #fff, 1336px 1300px #fff, 128px 648px #fff, 305px 1060px #fff,
        1324px 826px #fff, 1263px 1314px #fff, 1801px 629px #fff, 1614px 1555px #fff,
        1634px 90px #fff, 1603px 452px #fff, 891px 1984px #fff, 1556px 1906px #fff,
        121px 68px #fff, 1676px 1714px #fff, 516px 936px #fff, 1947px 1492px #fff,
        1455px 1519px #fff, 45px 602px #fff, 205px 1039px #fff, 793px 172px #fff,
        1562px 1739px #fff, 1056px 110px #fff, 1512px 379px #fff, 1795px 1621px #fff,
        1848px 607px #fff, 262px 1719px #fff, 477px 991px #fff, 483px 883px #fff,
        1239px 1197px #fff, 1496px 647px #fff, 1649px 25px #fff, 1491px 1946px #fff,
        119px 996px #fff, 179px 1472px #fff, 1341px 808px #fff, 1565px 1700px #fff,
        407px 1544px #fff, 1754px 357px #fff, 1288px 981px #fff, 902px 1997px #fff,
        1755px 1668px #fff, 186px 877px #fff, 1202px 1882px #fff, 461px 1213px #fff,
        1400px 748px #fff, 1969px 1899px #fff, 809px 522px #fff, 514px 1219px #fff,
        374px 275px #fff, 938px 1973px #fff, 357px 552px #fff, 144px 1722px #fff,
        1572px 912px #fff, 402px 1858px #fff, 1544px 1195px #fff, 667px 1257px #fff,
        727px 1496px #fff, 993px 232px #fff, 1772px 313px #fff, 1040px 1590px #fff,
        1204px 1973px #fff, 1268px 79px #fff, 1555px 1048px #fff, 986px 1707px #fff,
        978px 1710px #fff, 713px 360px #fff, 407px 863px #fff, 461px 736px #fff,
        284px 1608px #fff, 103px 430px #fff, 1283px 1319px #fff, 977px 1186px #fff,
        1966px 1516px #fff, 1287px 1129px #fff, 70px 1098px #fff, 1189px 889px #fff,
        1126px 1734px #fff, 309px 1292px #fff, 879px 764px #fff, 65px 473px #fff;
}

#stars:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: 779px 1331px #fff, 324px 42px #fff, 303px 586px #fff,
        1312px 276px #fff, 451px 625px #fff, 521px 1931px #fff, 1087px 1871px #fff,
        36px 1546px #fff, 132px 934px #fff, 1698px 901px #fff, 1418px 664px #fff,
        1448px 1157px #fff, 1084px 232px #fff, 347px 1776px #fff, 1722px 243px #fff,
        1629px 835px #fff, 479px 969px #fff, 1231px 960px #fff, 586px 384px #fff,
        164px 527px #fff, 8px 646px #fff, 1150px 1126px #fff, 665px 1357px #fff,
        1556px 1982px #fff, 1260px 1961px #fff, 1675px 1741px #fff,
        1843px 1514px #fff, 718px 1628px #fff, 242px 1343px #fff, 1497px 1880px #fff,
        1364px 230px #fff, 1739px 1302px #fff, 636px 959px #fff, 304px 686px #fff,
        614px 751px #fff, 1935px 816px #fff, 1428px 60px #fff, 355px 335px #fff,
        1594px 158px #fff, 90px 60px #fff, 1553px 162px #fff, 1239px 1825px #fff,
        1945px 587px #fff, 749px 1785px #fff, 1987px 1172px #fff, 1301px 1237px #fff,
        1039px 342px #fff, 1585px 1481px #fff, 995px 1048px #fff, 524px 932px #fff,
        214px 413px #fff, 1701px 1300px #fff, 1037px 1613px #fff, 1871px 996px #fff,
        1360px 1635px #fff, 1110px 1313px #fff, 412px 1783px #fff, 1949px 177px #fff,
        903px 1854px #fff, 700px 1936px #fff, 378px 125px #fff, 308px 834px #fff,
        1118px 962px #fff, 1350px 1929px #fff, 781px 1811px #fff, 561px 137px #fff,
        757px 1148px #fff, 1670px 1979px #fff, 343px 739px #fff, 945px 795px #fff,
        576px 1903px #fff, 1078px 1436px #fff, 1583px 450px #fff, 1366px 474px #fff,
        297px 1873px #fff, 192px 162px #fff, 1624px 1633px #fff, 59px 453px #fff,
        82px 1872px #fff, 1933px 498px #fff, 1966px 1974px #fff, 1975px 1688px #fff,
        779px 314px #fff, 1858px 1543px #fff, 73px 1507px #fff, 1693px 975px #fff,
        1683px 108px #fff, 1768px 1654px #fff, 654px 14px #fff, 494px 171px #fff,
        1689px 1895px #fff, 1660px 263px #fff, 1031px 903px #fff, 1203px 1393px #fff,
        1333px 1421px #fff, 1113px 41px #fff, 1206px 1645px #fff, 1325px 1635px #fff,
        142px 388px #fff, 572px 215px #fff, 1535px 296px #fff, 1419px 407px #fff,
        1379px 1003px #fff, 329px 469px #fff, 1791px 1652px #fff, 935px 1802px #fff,
        1330px 1820px #fff, 421px 1933px #fff, 828px 365px #fff, 275px 316px #fff,
        707px 960px #fff, 1605px 1554px #fff, 625px 58px #fff, 717px 1697px #fff,
        1669px 246px #fff, 1925px 322px #fff, 1154px 1803px #fff, 1929px 295px #fff,
        1248px 240px #fff, 1045px 1755px #fff, 166px 942px #fff, 1888px 1773px #fff,
        678px 1963px #fff, 1370px 569px #fff, 1974px 1400px #fff, 1786px 460px #fff,
        51px 307px #fff, 784px 1400px #fff, 730px 1258px #fff, 1712px 393px #fff,
        416px 170px #fff, 1797px 1932px #fff, 572px 219px #fff, 1557px 1856px #fff,
        218px 8px #fff, 348px 1334px #fff, 469px 413px #fff, 385px 1738px #fff,
        1357px 1818px #fff, 240px 942px #fff, 248px 1847px #fff, 1535px 806px #fff,
        236px 1514px #fff, 1429px 1556px #fff, 73px 1633px #fff, 1398px 1121px #fff,
        671px 1301px #fff, 1404px 1663px #fff, 740px 1018px #fff, 1600px 377px #fff,
        785px 514px #fff, 112px 1084px #fff, 1915px 1887px #fff, 1463px 1848px #fff,
        687px 1115px #fff, 1268px 1768px #fff, 1729px 1425px #fff,
        1284px 1022px #fff, 801px 974px #fff, 1975px 1317px #fff, 1354px 834px #fff,
        1446px 1484px #fff, 1283px 1786px #fff, 11px 523px #fff, 1842px 236px #fff,
        1355px 654px #fff, 429px 7px #fff, 1033px 1128px #fff, 157px 297px #fff,
        545px 635px #fff, 52px 1080px #fff, 827px 1520px #fff, 1121px 490px #fff,
        9px 309px #fff, 1744px 1586px #fff, 1014px 417px #fff, 1534px 524px #fff,
        958px 552px #fff, 1403px 1496px #fff, 387px 703px #fff, 1522px 548px #fff,
        1355px 282px #fff, 1532px 601px #fff, 1838px 790px #fff, 290px 259px #fff,
        295px 598px #fff, 1601px 539px #fff, 1561px 1272px #fff, 34px 1922px #fff,
        1024px 543px #fff, 467px 369px #fff, 722px 333px #fff, 1976px 1255px #fff,
        766px 983px #fff, 1582px 1285px #fff, 12px 512px #fff, 617px 1410px #fff,
        682px 577px #fff, 1334px 1438px #fff, 439px 327px #fff, 1617px 1661px #fff,
        673px 129px #fff, 794px 941px #fff, 1386px 1902px #fff, 37px 1353px #fff,
        1467px 1353px #fff, 416px 18px #fff, 187px 344px #fff, 200px 1898px #fff,
        1491px 1619px #fff, 811px 347px #fff, 924px 1827px #fff, 945px 217px #fff,
        1735px 1228px #fff, 379px 1890px #fff, 79px 761px #fff, 825px 1837px #fff,
        1980px 1558px #fff, 1308px 1573px #fff, 1488px 1726px #fff,
        382px 1208px #fff, 522px 595px #fff, 1277px 1898px #fff, 354px 552px #fff,
        161px 1784px #fff, 614px 251px #fff, 526px 1576px #fff, 17px 212px #fff,
        179px 996px #fff, 467px 1208px #fff, 1944px 1838px #fff, 1140px 1093px #fff,
        858px 1007px #fff, 200px 1064px #fff, 423px 1964px #fff, 1945px 439px #fff,
        1377px 689px #fff, 1120px 1437px #fff, 1876px 668px #fff, 907px 1324px #fff,
        343px 1976px #fff, 1816px 1501px #fff, 1849px 177px #fff, 647px 91px #fff,
        1984px 1012px #fff, 1336px 1300px #fff, 128px 648px #fff, 305px 1060px #fff,
        1324px 826px #fff, 1263px 1314px #fff, 1801px 629px #fff, 1614px 1555px #fff,
        1634px 90px #fff, 1603px 452px #fff, 891px 1984px #fff, 1556px 1906px #fff,
        121px 68px #fff, 1676px 1714px #fff, 516px 936px #fff, 1947px 1492px #fff,
        1455px 1519px #fff, 45px 602px #fff, 205px 1039px #fff, 793px 172px #fff,
        1562px 1739px #fff, 1056px 110px #fff, 1512px 379px #fff, 1795px 1621px #fff,
        1848px 607px #fff, 262px 1719px #fff, 477px 991px #fff, 483px 883px #fff,
        1239px 1197px #fff, 1496px 647px #fff, 1649px 25px #fff, 1491px 1946px #fff,
        119px 996px #fff, 179px 1472px #fff, 1341px 808px #fff, 1565px 1700px #fff,
        407px 1544px #fff, 1754px 357px #fff, 1288px 981px #fff, 902px 1997px #fff;
}

#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    animation: animStar 100s linear infinite;
    box-shadow: 1448px 320px #fff, 1775px 1663px #fff, 332px 1364px #fff,
        878px 340px #fff, 569px 1832px #fff, 1422px 1684px #fff, 1946px 1907px #fff,
        121px 979px #fff, 1044px 1069px #fff, 463px 381px #fff, 423px 112px #fff,
        523px 1179px #fff, 779px 654px #fff, 1398px 694px #fff, 1085px 1464px #fff,
        1599px 1869px #fff, 801px 1882px #fff, 779px 1231px #fff, 552px 932px #fff,
        1057px 1196px #fff, 282px 1280px #fff, 496px 1986px #fff, 1833px 1120px #fff,
        1802px 1293px #fff, 6px 1696px #fff, 412px 1902px #fff, 605px 438px #fff,
        24px 1212px #fff, 234px 1320px #fff, 544px 344px #fff, 1107px 170px #fff,
        1603px 196px #fff, 905px 648px #fff, 68px 1458px #fff, 649px 1969px #fff,
        744px 675px #fff, 1127px 478px #fff, 714px 1814px #fff, 1486px 526px #fff,
        270px 1636px #fff, 1931px 149px #fff, 1807px 378px #fff, 8px 390px #fff,
        1415px 699px #fff, 1473px 1211px #fff, 1590px 141px #fff, 270px 1705px #fff,
        69px 1423px #fff, 1108px 1053px #fff, 1946px 128px #fff, 371px 371px #fff,
        1490px 220px #fff, 357px 1885px #fff, 363px 363px #fff, 1896px 1256px #fff,
        1979px 1050px #fff, 947px 1342px #fff, 1754px 242px #fff, 514px 974px #fff,
        65px 1477px #fff, 1840px 547px #fff, 950px 695px #fff, 459px 1150px #fff,
        1124px 1502px #fff, 481px 940px #fff, 680px 839px #fff, 797px 1169px #fff,
        1977px 1491px #fff, 734px 1724px #fff, 210px 298px #fff, 816px 628px #fff,
        686px 770px #fff, 1721px 267px #fff, 1663px 511px #fff, 1481px 1141px #fff,
        582px 248px #fff, 1308px 953px #fff, 628px 657px #fff, 897px 1535px #fff,
        270px 931px #fff, 791px 467px #fff, 1336px 1732px #fff, 1013px 1653px #fff;
}

#stars2:after {
    content: '';
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: 1448px 320px #fff, 1775px 1663px #fff, 332px 1364px #fff,
        878px 340px #fff, 569px 1832px #fff, 1422px 1684px #fff, 1946px 1907px #fff,
        121px 979px #fff, 1044px 1069px #fff, 463px 381px #fff, 423px 112px #fff,
        523px 1179px #fff, 779px 654px #fff, 1398px 694px #fff, 1085px 1464px #fff,
        1599px 1869px #fff, 801px 1882px #fff, 779px 1231px #fff, 552px 932px #fff,
        1057px 1196px #fff, 282px 1280px #fff, 496px 1986px #fff, 1833px 1120px #fff,
        1802px 1293px #fff, 6px 1696px #fff, 412px 1902px #fff, 605px 438px #fff,
        24px 1212px #fff, 234px 1320px #fff, 544px 344px #fff, 1107px 170px #fff,
        1603px 196px #fff, 905px 648px #fff, 68px 1458px #fff, 649px 1969px #fff,
        744px 675px #fff, 1127px 478px #fff, 714px 1814px #fff, 1486px 526px #fff,
        270px 1636px #fff, 1931px 149px #fff, 1807px 378px #fff, 8px 390px #fff,
        1415px 699px #fff, 1473px 1211px #fff, 1590px 141px #fff, 270px 1705px #fff,
        69px 1423px #fff, 1108px 1053px #fff, 1946px 128px #fff, 371px 371px #fff,
        1490px 220px #fff, 357px 1885px #fff, 363px 363px #fff, 1896px 1256px #fff,
        1979px 1050px #fff, 947px 1342px #fff, 1754px 242px #fff, 514px 974px #fff,
        65px 1477px #fff, 1840px 547px #fff, 950px 695px #fff, 459px 1150px #fff,
        1124px 1502px #fff, 481px 940px #fff, 680px 839px #fff, 797px 1169px #fff,
        1977px 1491px #fff, 734px 1724px #fff, 210px 298px #fff, 816px 628px #fff,
        686px 770px #fff, 1721px 267px #fff, 1663px 511px #fff, 1481px 1141px #fff,
        582px 248px #fff, 1308px 953px #fff, 628px 657px #fff, 897px 1535px #fff,
        270px 931px #fff, 791px 467px #fff, 1336px 1732px #fff, 1013px 1653px #fff,
        1911px 956px #fff, 587px 816px #fff, 83px 456px #fff, 930px 1478px #fff,
        1587px 1694px #fff, 614px 1200px #fff, 302px 1782px #fff, 1711px 1432px #fff,
        443px 904px #fff, 1666px 714px #fff, 1588px 1167px #fff, 273px 1075px #fff;
}

@keyframes animStar {
    from {
        transform: translateY(0px);
    }

    to {
        transform: translateY(-2000px);
    }
}