.about-low-area{
    // left content
    position: relative;
    .about-caption{
         p{
            font-size: 16px;
            color: #64676c;
            line-height: 1.6;
            margin-bottom: 43px;
            padding-right: 50px;
            @media #{$lg}{
                padding-right: 20px;
            }
            @media #{$sm}{
                padding-right: 0px;
            }
            @media #{$xs}{
                padding-right: 0px;
            }
        }
    }
    .single-caption {
        display: flex;
        align-items: center;
        .caption-icon span {
            color: #212025;
            font-size: 35px;
            margin-bottom: 0;
            display: block;
        }
        .caption {
            padding-left: 20px;
            h5{
                color: #26264b;
                font-size: 20px;
                font-weight: 500;
            }
            p {
                color: #7f8192;
                font-size: 14px;
                margin-bottom: 0px;
                display: block;
                line-height: 1.7;
            }
        }
    }

     
    // Right img
    .about-img{
        @media #{$md}{
         padding-top: 50px;
        }
        @media #{$sm}{
            padding-top: 50px;
        }
        @media #{$xs}{
            padding-top: 50px;
        }
        .about-font-img{
            position: absolute;
            z-index: 1;
            left: 0;
            bottom: -73px;
            & img{
                @media #{$xs}{
                    width: 100%;
                }
            }
        }
        
        .about-back-img{
            position: absolute;
            top: 0;
            right: 0;
            z-index: 0;
        
            & img{
                @media #{$xs}{
                    width: 90%;
                }
            }
            @media #{$md}{
                position: unset;
            }
            @media #{$sm}{
                position: unset;
            }
            @media #{$xs}{
                position: unset;
            }
        }
    }
}

.about-caption{
    @media #{$xs}{
        margin-bottom: 35px;
    }
	
}

.bg-height.pb-160{
    @media #{$xs}{
        padding-bottom: 100px;
    }
}

//About Details page
.about-details{
	.about-details-cap{
		h4{
			font-size: 30px;
			font-family: $font_1;
			font-weight: 700;
			margin-bottom:30px;
			color:#000a2d;
			display: inline-block;
		}
		p{
			color: #464d65;
			font-size: 16px;
		}
	}
  }
  